.book {
    display : flex;
}

.book-sidebar {
    width : 300px;
}

.book-main {
    width : 100%;
}

.toc-container {
    padding : 3em 0em 0em 1em;
}

.toc {
    font-size: 0.9em;
}

.toc-section-name {
    font-weight : bold;
}

.toc-page-name {
    padding : 0em 0.2em 0.2em 0.5em;
    block-size : auto;
}

a.toc-page-link {
    text-decoration: none;
    color : inherit;
}

a.toc-page-link:hover {
    text-decoration: underline;
}

.toc-active-page-name {
    background : lightgray;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    padding : 0.5em;
}

.page-container {
    padding : 2em;
}

.page-inner-container {
    padding : 0em 2em 2em 2em;
    max-width : 80%;
    margin : 0 auto;
}

.card {
    border-radius : 0.5em;
    box-shadow: 0em 0em 1em rgba(30,30,30,0.38);
}

.page-toggle-button-container {
    padding : 0.5em 0 0 0.5em;
}

.page {
}

.page-name {
    text-align : center;
}

.page-content {
    color : black;
}

hr.page-divider {
    color : lightgray;
}

.icon-button {
    background-color: white;
    border: none;
    color: dimgray;
    width : 32px;
    height : 32px;
    font-size: 1.5em;
    cursor: pointer;
}

.icon-button:hover {
    background-color : lightgray;
    color : black;
}
