.book {
    display : flex;
}

/* sidebar hidden layout */
.book-sidebar[layout-status="main-only"] {
    display : none;
}

.book-main[layout-status="main-only"] {
    width : 100%;
}

/* two-column layout */
.book-sidebar[layout-status="two-column"] {
    width : 20%;
    display : block;
}

.book-main[layout-status="two-column"] {
    width : 80%;
}

/* two-column layout for smart phone */
@media (max-width: 520px) {
    .book-sidebar[layout-status="two-column"] {
        width : 50%;
        display : block;
    }

    .book-main[layout-status="two-column"] {
        width : 50%;
    }
}

.toc-container {
    padding : 1em 0em 0em 1em;
}

@media (max-width: 520px) {
    .toc-container {
        padding : 0;
    }
}

.toc {
    font-size: 0.9em;
}

.toc-section-name {
    font-weight : bold;
}

.toc-page-name {
    padding : 0em 0.2em 0.2em 0.5em;
    block-size : auto;
}

a.toc-page-link {
    text-decoration: none;
    color : inherit;
}

a.toc-page-link:hover {
    text-decoration: underline;
}

.toc-active-page-name {
    background : lightgray;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    padding : 0.5em;
}

.page-container {
    padding : 1em;
}

@media (max-width: 520px) {
    .page-container {
        padding : 0em;
    }
}

.page-inner-container {
    padding : 0em 2em 2em 2em;
    max-width : 80%;
    margin : 0 auto;
}

@media (max-width: 520px) {
    .page-inner-container {
            padding : 0em 0.5em 0.5em 0.5em;
            max-width : 100%;
    }
}

.card {
    border-radius : 0.5em;
    box-shadow: 0em 0em 1em rgba(30,30,30,0.38);
}

.page-toggle-button-container {
    padding : 0.5em 0 0 0.5em;
}

.page {
}

.page-name {
    text-align : center;
    font-size : 1.8em;
    font-weight: bold;
}

.page-content {
    color : black;
    overflow-wrap: break-word;
}

hr.page-divider {
    color : lightgray;
}

.icon-button {
    background-color: white;
    border: none;
    color: dimgray;
    width : 1.5em;
    height : 1.5em;
    font-size: 1.5em;
    cursor: pointer;
    padding : 0;
}

.icon-button:hover {
    background-color : lightgray;
    color : black;
}
