{{ define "main" }}
<div class="book">
  <!-- left side -->
  <div class="book-sidebar" id="book-sidebar" layout-status="two-column">
    <!-- table of contents -->
    <div class="toc-container">
	  {{ partial "toc.html" . }}
    </div>
  </div>
  <!-- right side -->
  <div class="book-main" id="book-main" layout-status="two-column">
    <div class="page-container">
      <div class="card">
        <div class="page-toggle-button-container">
          <button class="icon-button" onclick="toggle_sidebar_visibility()">
            <i class="fa fa-bars"></i>
          </button>
        </div>
        <div class="page-inner-container">
          {{ partial "page.html" . }}
        </div>
      </div>
    </div>
  </div>
  <script src="{{ relURL "js/single.js" }}"></script>
  <script>
    init_single();
  </script>
</div>
{{ end }}
